.image-gallery-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-gallery {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    @include responsive('md') {
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        list-style-type: none;
        transition: filter 0.3s ease;
        height: 18.75rem;

        &:hover {
            filter: brightness(0.8);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.image-gallery-swiper {
    .swiper-slide {
        height: 18.75rem;
    }

    .swiper-pagination {
        position: relative;
        padding-top: 1rem;
    }
}