.video-gallery-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.video-gallery {
    padding: 0;
    display: none;

    @include responsive('md'){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    &__item {
        list-style-type: none;

        .video-thumbnail {
            height: 30rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.video-gallery-swiper {
    display: block;

    @include responsive('md') {
        display: none !important;
    }

    .swiper-slide {
        height: auto;
    }
}