// Map for responsive breakpoints
$breakpoints: (
  "xs": (
    min-width: $mobile-portrait,
  ),
  "s": (
    min-width: $mobile-landscape,
  ),
  "md": (
    min-width: $tablet,
  ),
  "lg": (
    min-width: $desktop,
  ),
  "xl": (
    min-width: $desktop-wide,
  ),
  "tv-small": (
    min-width: $tv-small,
  ),
  "tv-4k-ultra": (
    min-width: $tv-4k-ultra,
  )
); 