/*!
 * Bootscore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass

/* Custom container width */
.container {
    max-width: 1280px; /* override Bootstrap default */
}

.site-header {
    z-index: 99;
}

/* Accessibility */
.screen-reader-text, .hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/**********/
/* FONTS */
/********/

/* Fjalla One */
@font-face {
  font-display: swap;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/FjallaOne-Regular.ttf') format('ttf');
}

/* Roboto */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Medium.ttf') format('ttf');
}

// Header tags
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-fjalla-one;
    font-weight: bold;
    line-height: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p, strong, span, li, div {
    font-family: $font-family-roboto;
}