.social-media {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    a {
        color: inherit;
        transform: scale(1);
        transition: transform 0.25s;

        &:last-of-type {
            margin: 0;
        }

        img {
            width: 1.5rem;
            height: 1.5rem;
        }

        &:hover {
            transform: scale(0.8);
            transition: transform 0.25s;
        }
    }
}